body {
  width: 100%;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #abd2fa;
  background-color: #111111;
}

#app {
  width: 400px;
  margin: auto;
  background-color: #3d518c;
}

h1 {
  margin: auto;
}

#panel {
  background-color: #7692ff;
  color: white;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#panel > * {
  display: inline-block;
  margin: 0;
}

ul {
  background-color: pink;
  padding: 10px 0 0 0;
  min-height: 500px;
}

.item,
#input-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  background-color: #7692ff;
  color: white;
  font-weight: bold;
  margin: 0 10px 10px 10px;
  padding: 5px;
  transition: max-height 10s ease-out;
  vertical-align: top;
  transition: background-color 1s ease-out;
}

#input-box {
  align-items: center;
  background-color: #c8ab83;
}

#create-task {
  height: 20px;
  border-radius: 5px;
  border: none;
}

.text {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3px;
  max-width: 55%;
  max-height: 3em;
  transition: all 0.5s ease-out;
}

.item > * {
  display: inline-block;
  margin: 3px;
  vertical-align: top;
}

.text:hover {
  -webkit-line-clamp: unset;
}

.complete,
.delete,
#odd,
#even,
#submit,
#remove-first,
#remove-last {
  padding: 3px;
  margin: 3px;
  height: auto;
  background-color: #abd2fa;
  border: 1px solid #3d518c;
  border-radius: 5px;
  color: #3d518c;
}

.delete {
  background-color: #b4654a;
  color: white;
}

#odd,
#even,
#submit,
#remove-first,
#remove-last {
  font-size: 14px;
  padding: 4px;
}
